mixin accordion(title, consist, num)
    div(class="card")
        div(class="card-header" id="heading" + num)
            h2(class="mb-0")
                button(class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" + num aria-expanded="false" aria-controls="collapse" + num) #{title}
    div(id="collapse" + num class="collapse show" aria-labelledby="heading" + num data-parent=".accordion")
        div(class="card-body") #{consist}

div(class="container-lg mt-4 mb-4")
    div(class="accordion w-100")
        +accordion("Сколько времени займет установка натяжного потолка?", "Содержание", "One")
        +accordion("Сколько времени займет установка натяжного потолка?", "Содержание", "Two")
        +accordion("Сколько времени займет установка натяжного потолка?", "Содержание", "Three")
        article(class="w-75 mr-2") Желательно монтировать натяжной потолок в момент, <br/> когда в помещении завершен черновой этап отделки, <br/> стены готовы к наклейке обоев.
        p На все дополнительные вопросы <br/> мы ответим вам в самое ближайшее время, <br/>напишите нам!
        button Задать вопрос!