@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    /* height: 100% !important; */
    width: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-image: url("../images/background.png");
    background-position: 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

nav.bg-blue {
    height: 112px;
    background-color: #001e63 !important;
}

.block {
    width: 100%;
}

.block h1 {
    color: #fff;
    font-size: 5rem;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input.input-search {
    color: #001e63;
    border: none;
    border-radius: 10px;
    padding: 8px 10px 8px 40px;
    font-family: 'Courier Prime', monospace;
    text-align: center;
    background-image: url("../images/icon_search.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    width: 100%;
}

input.input-search::placeholder {
    text-align: center;
    color: #001e63;
    font-weight: 500;
    font-size: 20px;
}

.content-max {
    width: 70%;
}

.content-small {
    width: 50%;
}

/* import */

.head-wrap, .head-wrap-un {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}
  
.head-title h1 {
    /* position: relative; */
    /* display: inline; */
    color: #fff;
    padding: 0 1em;
    font-size: 4rem;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.main {
    margin-top: 112px;
}

.bg-burger {
    background-color: rgba(55, 43, 219, 0.493);
}

.z-index-max {
    z-index: 999;
}

.head-wrap-full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26pt;
    line-height: 1.6em;
}

.head-wrap-un:after {
    content: '';
    width: 70%;
    height: 8px;
    background: #fff;
}

.head-wrap-un:before {
    content: '';
    width: 10%;
    height: 8px;
    background: #fff;
}

.h-custom {
    height: 60vh !important;
}

.pre-footer {
    height: 100px;
    background-image: url("./../images/image_3.png");
    background-repeat: repeat-x;
}

.button-default {
    border: none;
    padding: 4px 50px 8px 50px;
    color: #fff;
    background-image: url("./../images/gradient_0.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-variant: small-caps;
    font-size: 25px;
    transition: .5s;
}

.button-default:hover {
    background-image: url("./../images/gradient_1.png");
    transition: .5s;
}

.button-white {
    padding: 8px 30px 8px 30px;
    border: none;
    border-radius: 50px;
    font-family: 'Courier Prime', monospace;
}

.head-wrap:before {
    content: '';
    width: 40%;
    height: 8px;
    background: #fff;
}

.head-wrap:after {
    content: '';
    width: 10%;
    height: 8px;
    background: #fff;
}

/* Breakpoints */

@media (max-width: 450px) {
    body {
        width: 100%;
    }
}

@media (min-width: 576px) { }

@media (min-width: 768px) { 
    .head-wrap-full:before {
        content: '';
        width: 10%;
        height: 8px;
        background: #fff;
    }
    
    .head-wrap:after {
        content: '';
        width: 0%;
        height: 8px;
        background: #fff;
    }

    .head-wrap:before {
        content: '';
        width: 100%;
        height: 8px;
        background: #fff;
    }
}

@media (min-width: 992px) { 
    .head-wrap-full:before {
        content: '';
        width: 10%;
        height: 8px;
        background: #fff;
    }
    
    .head-wrap-full:after {
        content: '';
        width: 10%;
        height: 8px;
        background: #fff;
    }

    .head-wrap:before {
        content: '';
        width: 60%;
        height: 8px;
        background: #fff;
    }
}

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }