* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: url("./../images/background.png");
}

nav.bg-blue {
    height: 100px;
    background-color: #001e63 !important;
}