@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    section.section {
        font-size: 55px;
    }
}

@media screen and (max-width: 700px) {
    section.section {
        font-size: 32px;
    }
}

@media screen and (min-width: 1100px) {
    .d-medium-block {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    section.section {
        font-size: 72px;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        display: none;
    }

    .d-medium-block {
        display: block;
    }
}