$main-font-color: #03363D;
$font-color-1: #17494D;
$font-color-2: #68737D;

$backgrpund-1: #D6EEF2;
$background-2: #17494D;
$background-3: #FF6224;
$background-4: #FED6A8;

$alpha: rgba(0, 0, 0, 0);

$header-height: 123px;

// === MAIN ===

@mixin d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin border($size, $color) {
    border-bottom: $size solid $color;
}

.h-100 {
    max-height: 100vh;
}

.h-75 {
    max-height: 75vh;
}

.h-50 {
    max-height: 50vh;
}

.w-auto {
    width: 60%;
}

.margin-header {
    margin-top: $header-height;
}

.align-center {
    @include d-flex;
    align-items: center;
}

.row {
    @include d-flex;
    flex-direction: row;
}

.column {
    @include d-flex;
    flex-direction: column;
}

.w-50 {
    width: 50%;
}

.h-auto {
    height: 100%;
}

button.button {
    border: 1px solid $background-3;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

// === END MAIN ===

.container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.margin-left {
    margin-left: 10px;
}

// === HEADER ===

header.header {
    width: 100%;
    height: $header-height;
    background-color: #ffffff;
    position: fixed;
    margin-top: -$header-height;
    
    .nav {
        height: $header-height;
        @include d-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        width: 75px;
        height: 65px;
        background: url(./../images/Group.svg);
    }
    
    ul.inline-menu {
        width: 70%;
        @include d-flex;
        justify-content: space-between;
        align-items: center;
        
        li {
            display: inline;
            
            a {
                color: $font-color-1;
                font-family: sans-serif;
                text-decoration: none;
            }
            
            button.button {
                background-color: $background-2;
                color: #fff;
                border: 1px solid $background-2;
            }
            
        }
    }
    
}

// === END HEADER ===
// ==================
// ==================
// === SECTIONS ===

section.section-block {
    width: 100%;
    
    .block {
        width: 100%;
        height: 100%;
    }
    
    .dark-green {
        background-color: $background-2;
    }
    
    .padding {
        display: block;
        padding: 30px 0 30px 0;
    }
    
    span.h1 {
        font-size: 3.5em;
        font-family: sans-serif;
        
        .underline {
            border-bottom: 2px solid #fff;
        }
    }
    
    .block-article {
        
        .row {
            margin-top: 25px;
        }
        
        article.article {
            color: #fff;
            font-family: Roboto, sans-serif;
            width: 80%;
            @include d-flex;
        }
        
        button.button {
            border: 1px solid $background-3;
            padding: 10px 10px 10px 10px;
            font-family: sans-serif;
        }
        
        button.normal {
            background-color: $background-3;
            color: #fff;
        }
        
        button.used {
            background-color: $alpha;
            color: $background-3;
        }
        
    }
    
    .light-yellow {
        background-color: $background-4;
        
        .text-article {
            h2 {
                font-family: "Roboto", sans-serif;
                font-weight: bold;
                color: $main-font-color;
                font-size: 31px;
            }
        }
        
        article.article {
            width: 80%;
            margin-top: 30px;
            color: $font-color-1;
            font-family: "Roboto", sans-serif;
            line-height: 25px;
            font-size: 16px;
        }
        
        a.black-href {
            text-decoration: none;
            color: $main-font-color;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            padding: 0px 10px 10px 10px;
            border-bottom: 2px solid $main-font-color;
        }
        
        .hrefs {
            margin-top: 40px;
            width: 40%;
            @include d-flex;
            justify-content: space-between;
        }
    }
    
    .title-center, .pre-title-center {
        text-align: center;
        color: $main-font-color;
    }
    
    .title-center {
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        font-weight: bold;
    }
    
    .pre-title-center {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }
    
    .tabs {
        @include d-flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        
        li {
            display: inline;
        }
        
        a.tab-item {
            text-decoration: none;
            color: $font-color-2;
            font-family: "Roboto", sans-serif;
            font-size: 25px;
            font-weight: bold;
            font-variant: small-caps;
            border-bottom: 2px solid $alpha;
            padding: 10px 5px 10px 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        a.active {
            color: $main-font-color;
            border-color: $main-font-color;
        }
    }
    
    article.lead-article {
        width: 55%;
        line-height: 25px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    h2.header-lead {
        color: $background-2;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: bold;
    }

    .flex-wrap {
        @include d-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        padding-bottom: 40px;

        .component {
            width: 120px;
            height: 60px;
        }

    }

    h3 {
        color: $background-2;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    
    .article-text {
        line-height: 25px;
    }

    .article-text.margin-top {
        margin-top: 20px;
    }

    .article-text, article.lead-article {
        color: $background-2;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    
    .vertical-line {
        width: 55%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 40px;
        padding-left: 40px;
        border-left: 3px solid #C2C8CC;
        padding: 0 15px 0 15px;
    }
    
    a.upperline {
        padding-bottom: 5px;
        border-bottom: 3px solid $main-font-color;
        text-decoration: none;
        color: $main-font-color;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    
    .margin-y {
        display: block;
        margin: 30px 0 30px 0;
    }

    .backgrounder {
        display: block;
        background-image: url(./../images/Rectangle.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;

        .box {
            width: 40%;
            height: fit-content;
            background-color: #fff;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 50px;

            .box-inner {
                padding: 40px;

                h3 {
                    margin: 0 !important;
                    color: $main-font-color;
                    font-family: "Roboto", sans-serif;
                    font-size: 38px;
                    font-weight: 600;
                }

                .article {
                    margin-top: 20px;
                    color: $font-color-1;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    line-height: 25px;
                }

                .navigation {
                    margin-top: 20px;
                }
            }

        }
    }

    .flex-cards {
        @include d-flex();
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;

        .card-item {
            background-color: #F8F9F9;
            width: 350px;
            height: 350px;

            &.border-3 {
                @include border(4px, #7D3D54);
            }

            &.border-1 {
                @include border(4px, #3D8DAE);
            }

            &.border-2 {
                @include border(4px, #C38F00);
            }

            .card-item-inner {
                @include d-flex();
                flex-direction: column;
                height: 90%;
                padding: 30px;

                p, h5 {
                    color: $main-font-color;
                }

                article {
                    color: $background-2;
                }

                p, h5, article {
                    font-family: "Roboto", sans-serif;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                }

                h5 {
                    font-weight: 700;
                    font-size: 20px;
                    margin: 0;
                    height: 60px;
                }
            }

            article {
                margin-bottom: 20px;
                flex: 1 0 auto;
                line-height: 25px;
            }

            .low {
                flex: 0 0 auto;
                padding-bottom: 50px;
            }
        }
    }

    .colored {
        padding: 40px 0 40px 0;
        background-color: #D6EEF2;
        width: 100%;
        margin-top: 60px;

        h2 {
            color: $main-font-color;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-size: 32px;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    hr.colored-hr {
        color: #C2C8CC;
    }

    .flex-row {
        @include d-flex();
        flex-direction: row;
        justify-content: space-between;

        .mini-block {
            h1 {
                color: $main-font-color;
                font-family: "Roboto", sans-serif;
                font-weight: bold;
                font-size: 32px;
            }

            ul {
                li {
                    list-style: none;
                    color: $main-font-color;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    @include border(2px, $main-font-color);
                    line-height: 25px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
    .center-block {
        @include d-flex();
        justify-content: space-around;
        display: block;
        margin: 0 auto;
    }

    .background-green {
        background-color: #17494D;
        color: #fff;
        border: 1px solid #17494D;
    }

    .border-green {
        background-color: $alpha;
        color: #17494D;
        border: 1px solid #17494D;
    }
}

// === END SECTIONS ===

// === FOOTER ===

footer.footer {
    height: fit-content;

    .footer-inner {
        width: 100%;
        margin-top: 40px;
    }
    
    .footer-content {
        @include d-flex();
        flex-direction: row;
        justify-content: space-between;

        h3.foot__title {
            color: $main-font-color;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            font-size: 25px;
        }

        ul {
            li {

                list-style: none;
                color: #68737D;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                line-height: 25px;

                p {
                    color: $main-font-color;
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                    font-variant: small-caps;
                }
            }
        }

    }

    .footer-foot {
        border-top: 1px solid #68737D;

        .hrefs {
            margin-top: 50px;

            a {
                padding-right: 30px;
            }

        }

        article.more-text {
            margin-top: 30px;
            padding-bottom: 30px;
        }

        .searcher-block {
            @include d-flex();
            align-items: flex-start;
            height: 45px;
            margin-top: 20px;
        
            article {
                h4 {
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 23px;
                    color: $main-font-color;
                }
                p {
                    margin: 10px 0 0 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: $main-font-color;
                }
            }

            .searcher {
                height: 100%;
                margin-left: 20px;
                width: 50%;

                input.foot__inlut {
                    width: 60%;

                    &::placeholder {
                        color: #68737D;
                        font-family: "Roboto", sans-serif;
                        padding-left: 40px;
                    }

                }
                
                input.foot__inlut, input.foot__button {
                    border-radius: 0px;
                    border: 2px solid $font-color-1;
                }

                input.foot__button {
                    background-color: $main-font-color;
                    color: #fff;
                    font-family: "Roboto", sans-serif;
                    border: 1px solid $font-color-1;
                }

            }

        }

    }

}

// === END FOOTER ===