$width: 100%;
$height: 100%;

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html 
{
    height: $height;
    width: $width;

    body {
        height: $height;
        width: $width;
    }
}

