@import "_default";

$width: 100%;
$height: 100%;
$--background-blue: #00336C;

* 
{
    padding: 0;
    margin: 0;
    outline: none;
}

html 
{
    height: $height;
    width: $width;

    body 
    {
        height: $height;
        width: $width;
    }
}

.bg-white 
{
    background-color: #fff !important;
}

a.nav-hover 
{
    &:hover
    {
        color: #00A9AB; 
    } 
}

.footer {
    background-color: $--background-blue;
}