mixin lineListItem 
    svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="170 11 389 30" style="enable-background:new 170 11 389 30;" xml:space="preserve")
        path(stroke="#FFFFFF" fill="none" stroke-width="14" stroke-dashoffset="622" stroke-dasharray="0px, 999999px" d="M172,22.9c177.9,0,274.4,0,289.7,0c22.9,0,24.7,6.4,35.6,5.3c10.9-1.1,13.2-9.1,23.8-10.4c10.8-1.4,18.4,5.4,22.6,8.1c4.4,2.8,8.8,5.7,13.3,8.7" style="stroke-dashoffset: 393.794; stroke-dasharray: 0px, 999999px;")

div(class="fixed-block" id="menuLayer")
    div(class="container-fixed")
        ul(class="menuElement")
            li(class="list-item") 
                a(href="#") проекты
                +lineListItem
            li(class="list-item")
                a(href="#") команда
                +lineListItem
            li(class="list-item")
                a(href="#") контакты
                +lineListItem