doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Some Page
      include ./includes/_styles.pug
   body
      include ./includes/_header.pug
      
      include ./includes/_content.pug