div(class="container-lg")
    div(class="row")
        div(class="col-6")
            h3 Немного о нас
            article Мы поможем Вам с установкой натяжных потолков любой формы, цвета и материала. Установим освещение, дадим гарантию на свою работу и товары, а так же предоставим консультацию дизайнера! Наша компания успешно работает на рынке уже более 7 лет, немалый срок, за который мы насобирали более 900 отзывов, и еще больше довольных клиентов.Обращаясь к нам, Вы можете быть уверены в качественном результате, приемлимых ценах и мастерах высшего уровня. А всё потому, что мы любим свою работу! Так же у нас для Вас есть подарки, уникальные акции, скидки, а еще есть рассрочка!
        div(class="col-6")
            img(src="./images/__image_main.png" class="w-100")