div(class="container-lg mt-3")
    h3 Калькулятор стоимости
    article Вы можете рассчитать примерную стоимость вашего потолка. Для более точного расчета закажите бесплатный замер, чтобы мы учли все особенности вашего помещения
    h4 Площадь помещения, где нужны потолки  (м²)
    div(class="col-9")
        div(class="d-flex flex-column")
            input(type="range")
            button Получить расчёт

div(class="block-shadow w-100 mt-3 mb-3")
    div(class="container-lg pt-3 pb-3")
        h3 Нашли цену ниже? Сообщите нам, и мы сделаем Вам скидку!