include _slider.pug
include _aboutus.pug
include _cards.pug
include _individual.pug
include _calculator.pug
include _plusup.pug
include _video.pug
include _materials.pug
include _makeover.pug
include _response.pug
include _questions.pug