footer(class="footer w-100")
    div(class="row d-flex flex-column")
        div(class="container-lg")
            div(class="row")
                div(class="col-2")
                    
                div(class="col-2")
                div(class="col-2")
                div(class="col-2")
                div(class="col-2")
        div(class="container-lg")
        