header(class="fixed-top w-100")
    <nav class='navbar navbar-expand-lg navbar-light bg-white'>
        <div class='container-lg'>
            <img src="./images/_logo_.png" alt="logo">
            <ul class='navbar-nav mr-auto'>
                each item in ["О нас", "Акции", "Каталог", "Цены", "Преимущества", "Портфолио", "Уфа, Борисоглебская 4"]
                    li(class='nav-item')
                        a(class='nav-link nav-hover' href='#')= item
            </ul>
            <button>Заказать звонок</button>
        </div>
    </nav>