<script type="text/javascript" src="./include/bootstrap/js/bootstrap.js" async></script>
<script type="text/javascript" src="./include/splide.min.js" async></script>
<script type="text/javascript" src="./include/jquery.js" async></script>
<script type="text/javasctipt" src="./js/script.js" async></script>
<link rel="stylesheet" type="text/css" href="./include/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./include/fontawesome/css/all.css">
<link rel="stylesheet" type="text/css" href="./include/splide.min.css">
<link rel="stylesheet" type="text/css" href="./css/main.css">