<script type="text/javascript" src="./include/jquery.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script type="text/javascript" src="./include/bootstrap/js/bootstrap.min.js" async></script>
<script type="text/javascript" src="./include/splide.min.js" async></script>
<script type="text/javascript" src="./js/script.js" async></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./include/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="./include/fontawesome/css/all.css">
<link rel="stylesheet" type="text/css" href="./include/splide.min.css">
<link rel="stylesheet" type="text/css" href="./css/main.css">
<script type="text/javascript" src="./js/map.js" async></script>