mixin cardMiddle
    div(class="card card-width-middle mt-4 mb-4")
        img(class="card-img-top" src="")
        div(class="card-body")
            h5(class="card-title") Card title
            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
            a(href="#" class="btn btn-primary") Go somewhere

div(class="container-lg")
    h2 Индивидуальные проекты
    div(class="row w-100 d-flex flex-row justify-content-between")
        - for (var i = 0; i < 9; ++i)
            +cardMiddle
            