div(class="container-lg")
    div(class="row")
        div(class="col-6")
            h3 Монтаж без пыли и грязи
            p Мы используем самое современное оборудование и материалы
            article Гарантия безопасного монтажа - технологичные полимерные материалыи композитные газовые баллоны.Мы используем самое современное оборудование,делая процесс монтажа полностью безопасным. Работаем только с инструментами фирмы HILTI.Без пыли и грязи!Наши мастера используют электронные уровнии перфораторы с пылесборниками,а установка потолка занимает всего 2-3 часа,и не требует последующей уборки.Заявка оставленная на сайте,будет обработана в кратчайшие сроки.Производим монтаж в любой удобный для Вас день,в выходные и праздники.Гарантируем качество! Подкрепляем гарантию официальным договором.Действуем оперативно.Сегодня замер - завтра монтаж!
        div(class="col-6")
            img(src="./images/__image_main.png" class="w-100")

div(class="container-lg")
    h3 Подскажем что выбрать
    div(class="w-100")
        div(class="float-left")
            p Бесплатная консультация с нашим дизайнером
        div(class="float-right")
            a(href="#") Бесплатная консультация с нашим дизайнером
    div(class="w-100")
        img(class="w-100 h-75" src="./images/broad.jpg")
        button Получить предложение
        p Отправляя заявку Вы соглашаетесь на обработку персональных данных