mixin card(img, title, text)
    div(class="card" style="width: 20rem;")
        img(class="card-img-top" src='./images/' + img alt="Card image cap" style="height: 210px;")
        div(class="card-body")
            h5(class="card-title") #{title}
            p(class="card-text") #{text}


div(class="container-lg mt-4 mb-4")
    div(class="row d-flex flex-column")
        div(class="w-100")
            h3 Оборудование
            article(class="w-75") Мы уделяем большое внимание выбору инструментов и материалов. И мы категорически против подделок или испорченных материалов. Мы используем только инструменты фирмы HILTI, такой подход обеспечивает качество и долговечность работы, на которуюмы с уверенностью даём гарантию. 
        div(class="w-100 row mt-4")
            div(class="col-6 d-flex justify-content-around")
                +card("_cards (3).jpg", "Перфоратор Hilti TE 6-A22", "- Мощный аккумуляторный- Оптимальный диапазон ударного бурения- Cистема активного поглощения вибрации")
            div(class="col-6")
                +card("_cards (1).jpg", "Светильник Ecola GX53", "- Минимизирует межпотолочное пространство- Класс защиты IP20- Рабочая температура от	-20 до +60")
        div(class="w-100 row mt-4")
            div(class="col-6")
                h4 Встраиваемый Светильник ECOLA GX53
                p Самый удачный вариант для натяжных и повесных потолков
                article Данный светильник является общепризнанным лидером.Ассортимент линейки GX53насчитывает более 300 моделей! - Установочная высота от 12мм.Реальная экономия пространства. - Большая яркость за счет большегоколичества светодиодов. - Увеличенный срок службы. - В 10 раз меньше энергопотребление,в 10 раз меньше тепловыделение. Самая популярная модель светильников. Большой выбор вариантов дизайна, расцветок и форм.
            div(class="col-6")
                img(class="" src="./images/_cards (2).jpg")

div(class="container-lg mt-4 mb-4")
    h2 Самый чистый монтаж потолка
    p Хотите монтаж с пылесосом? Наш профессиональный перфоратор с пылесосом поможет Вам
div(class="w-100 h-75 background")
    div(class="container-lg")
        button Оставить заявку


