mixin cards(title, icon, text)
    div(class="card mt-4 mb-4" style="width: 18rem;")
                div(class="card-body")
                    h5(class="card-title") <img src="./images/" + icon> title
                    p(class="card-text")= text


div(class="container-lg")
    div(class="float-left")
        h2 Наши преимущества
        p(style="color: #00418B;") Мы работаем с новейшим противопожарным материалом производства Германии
    div(class="float-right")
        h2(style="color: #00418B;") Не хватает денег? <br/> Сделаем рассрочку!

div(class="container-lg")
    div(class="row w-100 d-flex justify-content-between")
        div(class="col-4")
            +cards
            +cards
        div(class="col-4")
            +cards
            +cards
        div(class="col-4")
            +cards
            +cards

div(class="container-lg mt-4 mb-4")
    div(class="row")
        h3 Работаем более 7 лет
        div(class="w-100")
            div(class="float-left")
                h5 За это время мы реализовали 900 проектов, натянули 10 000 м² потолков
            div(class="float-right")
                a(href="#") Посмотреть больше
        div(class="d-flex flex-wrap justify-content-between")
            - for (i = 1; i <= 15; i++)
                img(class="img-custom mt-2 mb-2" src="./images/image (" + i + ").jpg")
        