div( class="splide" id="imageSlider")
    div(class="splide__track")
        ul(class="splide__list")
            each item in ["./images/4 1background_.jpg", "./images/слайдер 9background_.jpg", "./images/10 1background_.jpg", "./images/слайдер 11background_.jpg"]
                li(class="splide__slide")
                    img(src= item)