doctype html
html
    head
        <meta name='viewport' content='width=device-width', initial-scale='1.0'>
        meta(charset="utf-8")
        title Some title
    body
    div(class="main w-100 h-100")
        include _header.pug
        include _footer.pug