div(class="mobile-menu")
    ul(class="list d-flex flex-column justify-between")
        each value in ["overview", "features", "technology", "contact", "sign up"]
            li(class="list-item")
                a(href="#")= value