div(class="section section-background")
   div(class="container")
      div(class="section__content")
         div(class="section__content__central-block")
            h1(class="section__content__central-block__title") cloudbuget
            article(class="section__content__central-block__article") Cloud budget management for everyone. Only <br/> €69.95 a Month After a 7 Day Trial of <br/> Up to €4.99
            a(href="" class="section__content__central-block__fill-button") sign up
div(class="section")
   div(class="container")
      div(class="section__content")
         div(class="section__content__half")
            div(class="section__content__half-display")
               h2(class="section__content__half-display__title") Easy to Use Cloud Budget <br/> Management Software
               article(class="section__content__half-display__article") Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.
               a(href="section__content__half-display__link") Learn more
            div(class="section__content__half-display")
               div(class="section__content__half-display__video-block")
                  div(class="section__content__half-display__video-block__content-video")
                  div(class="section__content__half-display__video-block__content-video-switch")
div(class="section")
   div(class="container")
      div(class="section__content")
         