div(id="mobile-menu-id" class="mobile-menu position-fixed d-flex align-items-center justify-center hide")
    ul(class="list d-flex column")
        each value in ["overview", "features", "technology", "contact", "sign up"]
            li(class="list-item")
                a(href="#")= value