section(class="section h-100 background background-0")
    div(class="container")
        div(class="h-100 d-flex justify-center align-items-center column")
            article(id="article-block" class="h-auto w-100 article-block")
                h1(class="h1-title") cloudbudget
                <p class="p-article">Cloud budget management for    everyone. Only <br/> €69.95  a Month After a 7 Day     Trial of <br/> Up to €4.99</p>
                <button class="button button-white">sign up</button>

section(class="h-50")
    div(class="container")
        div(class="d-flex flex-row black-theme align-items-center")
            div(class="w-50 h-100-auto")
                h2(class="h2-title") Easy to Use Cloud Budget <br/> Management Software
                <article>Our software is made so you can access and manage your budget and expenses online at any time from any device. It provides detailed income and expense reports with graphs so you can easilly see your spending patterns and budget at a glance. Read below to find out more.</article>
            div(class="w-50 h-100-auto")
                div(class="video-player d-flex w-75 justify-end")
                    img(class="play-button w-100-auto" src="./images/PlayButton.svg", alt="play")
                    img(class="w-100-auto" src="./images/Video_bg.png", alt="video")

section(class="h-50")
    div(class="container")